<div [hidden]="!isLoaded1" style="margin:5px;">

  <div fxLayout fxLayoutAlign="center center">
    <mat-form-field fxFlex="100%" style="margin:10px;">
      <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8-container">
    <button mat-flat-button color="primary" style="margin-left:2px;margin-bottom: 10px;"
            (click)="refreshData()">Refresh</button>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" id="projectTable">
      <ng-container matColumnDef="areaOfEngagement">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CSR Area<br>
        </th>
        <td mat-cell *matCellDef="let element" (click)="showDetails(element)" style="cursor:pointer;">
          {{element.areaOfEngagement}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name<br>
        </th>
        <td mat-cell *matCellDef="let element" (click)="showDetails(element)" style="cursor:pointer;"> {{element.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="budget">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Budget<br>

        </th>
        <td mat-cell *matCellDef="let element" (click)="showDetails(element)" style="cursor:pointer;">
          {{element.budget}}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
        <td mat-cell *matCellDef="let element" (click)="showDetails(element)" style="cursor:pointer;">
          {{element.status}}
        </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location<br>
        </th>
        <td mat-cell *matCellDef="let element" (click)="showDetails(element)" style="cursor:pointer;">
          {{element.location}} </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
        <td mat-cell *matCellDef="let element" (click)="showDetails(element)" style="cursor:pointer;">
          {{element.startDate | date: 'dd MMM yyyy'}} - {{element.endDate | date: 'dd MMM yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
        <td mat-cell *matCellDef="let element" (click)="showDetails(element)" style="cursor:pointer;">
          {{element.rating}}
        </td>
      </ng-container>

      <ng-container matColumnDef="changeStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Change Status</th>
        <td mat-cell *matCellDef="let element" style="cursor:pointer;">
          <mat-form-field>
            <mat-select (selectionChange)="element.status =$event.value" [value]="element.status">
              <mat-option *ngFor="let project of projectStatus" [value]="project.value"
                (click)="changeStatusValue(project.value,element)">
                {{project.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button matTooltip="Add new project" color="primary"  (click)="projectAdd()">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let element;">
          <button mat-icon-button matTooltip="Edit this project" color="accent"
            (click)="projectEdit(element)"
            style="background: white;border:none;">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button matTooltip="Remove this project" color="accent"
            (click)="projectDelete(element)" style="background: white;border:none;">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
  </div>




  <div >
    <div id="projectDetails" [hidden]="!isLoaded">
      
      <div  *ngIf="isProject">
          <button mat-flat-button color="warn" (click)="hideDetails()">Close</button>
        <h1>{{projectDetails.name}}</h1>
      </div>

      <div style="display:flex;" *ngIf="isProject">
        <div style="display:flex;">
          
          <mat-card class="example-card">
            <mat-card-header color="primary">
              <mat-card-title>Project Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <table>
                <tr>
                  <td>
                    CSR Area :
                  </td>
                  <td>
                    {{project.areaOfEngagement}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Budget :
                  </td>
                  <td>
                    {{project.budget}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Project Name :
                  </td>
                  <td>
                    {{project.name}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Corporate Entity :
                  </td>
                  <td>
                    {{project.corporate}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Duration :
                  </td>
                  <td>
                    {{project.startDate | date: 'dd MMM yyyy'}} - {{project.endDate | date: 'dd MMM yyyy'}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Location :
                  </td>
                  <td>
                    {{project.location}}
                  </td>
                </tr>
                <tr *ngIf="isPOC">
                  <td>
                    Point Of Contact :
                  </td>
                  <td>
                    {{project.pointOfContact.name}}
                  </td>
                </tr>
                <tr *ngIf="isStakeholder">
                  <td>
                    Stakeholder :
                  </td>
                  <td>
                    {{project.stakeholderList[0].name}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Summary :
                  </td>
                  <td style="max-width: 200px;word-wrap: normal;">
                    {{project.summary}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Status :
                  </td>
                  <td style="max-width: 200px;word-wrap: normal;">
                    {{project.status}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Rating :
                  </td>
                  <td style="max-width: 200px;word-wrap: normal;">
                    {{project.rating}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Created BY :
                  </td>
                  <td style="max-width: 200px;word-wrap: normal;">
                    {{project.createdBy}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Created On :
                  </td>
                  <td style="max-width: 200px;word-wrap: normal;">
                    {{project.createdOn | date: 'dd-MMM-yyyy HH:mm:ss'}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Updated BY :
                  </td>
                  <td style="max-width: 200px;word-wrap: normal;">
                    {{project.updatedBy}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Updated On :
                  </td>
                  <td style="max-width: 200px;word-wrap: normal;">
                    {{project.updatedOn | date: 'dd-MMM-yyyy HH:mm:ss'}}
                  </td>
                </tr>
              </table>
             
            </mat-card-content>
            <mat-card-actions>
              <button style="margin-right:10px;" mat-flat-button color="accent" (click)="projectEdit(projectDetails)">Edit</button>
              <button mat-flat-button color="warn" (click)="projectDelete(projectDetails)">Delete</button>

            </mat-card-actions>
          </mat-card>
        </div>
        <div  style="display:flex;flex:1 1 auto;flex-direction: column;">
          <table mat-table [dataSource]="taskSource" matSort class="mat-elevation-z8" id="taskTable">
            <ng-container matColumnDef="activity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity </th>
              <td mat-cell *matCellDef="let element1" style="cursor:pointer;"> {{element1.activityLabel}} </td>
            </ng-container>

            <ng-container matColumnDef="task">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Task </th>
              <td mat-cell *matCellDef="let element1" style="cursor:pointer;"> {{element1.name}} </td>
            </ng-container>

            <ng-container matColumnDef="duration">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration(Hours) </th>
              <td mat-cell *matCellDef="let element1" style="cursor:pointer;">
                {{element1.duration}}
              </td>
            </ng-container>

            <ng-container matColumnDef="approver">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let element1" style="cursor:pointer;"> {{element1.status}} </td>
            </ng-container>

            
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                  <button mat-icon-button matTooltip="Add new task" color="primary" (click)="taskAdd()" >
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                  </button>
                </mat-header-cell>
        
                <mat-cell *matCellDef="let element1" >
                    <button mat-icon-button matTooltip="View task details" (click)="showTaskDetails(element1)" color="accent" style="background: white;border:none;">
                        <mat-icon>inbox</mat-icon>
                      </button>
        
                      <button mat-icon-button matTooltip="Edit this task" (click)="taskEdit(element1)" color="accent" style="background: white;border:none;">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Remove this task" (click)="taskDelete(element1)" color="accent" style="background: white;border:none;">
                            <mat-icon>delete</mat-icon>
                          </button>
                </mat-cell>
              </ng-container>
            


            <tr mat-header-row *matHeaderRowDef="displayedTasks"></tr>
            <tr mat-row *matRowDef="let row1; columns: displayedTasks;"></tr>
          </table>
          <div>
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
          </div>
        </div>

      </div>



    </div>

   
      <!-- <div *ngIf="isTaskLoaded" id="taskDetails">
          <button mat-flat-button color="warn" (click)="hideTaskDetails()">Close</button>
          <div style="display:flex;">
              <div style="display:flex;">
                <mat-card class="example-card">
                  <mat-card-header color="primary">
                    <mat-card-title>Task Details</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                     
                    <table>
                      <tr>
                        <td>
                          Activity :
                        </td>
                        <td>
                            {{taskDetails.activityLabel}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                            Task Name :
                        </td>
                        <td>
                            {{taskDetails.name}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                            Description :
                        </td>
                        <td>
                            {{taskDetails.description}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                            Location :
                        </td>
                        <td>
                            {{taskDetails.location}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Duration :
                        </td>
                        <td>
                            {{taskDetails.startDate | date: 'dd/MM/yyyy'}} - {{taskDetails.endDate | date: 'dd/MM/yyyy'}}
                        </td>
                      </tr>
                      <tr>
                        <td *ngIf = "isApprover">
                            Approver :
                        </td>
                        <td *ngIf = "isApprover">
                            {{taskDetails.approver}}
                        </td>
                      </tr>
                      <tr>
                        <td *ngIf = "isVolunteer">
                            Volunteers :
                        </td>
                        <td *ngIf = "isVolunteer">
                            {{taskDetails.volunteer}}
                        </td>
                      </tr>
                      <tr>
                          <td>
                              Created By :
                          </td>
                          <td>
                              {{taskDetails.createdBy}}
                          </td>
                        </tr>
                        <tr>
                            <td>
                                Created Time :
                            </td>
                            <td>
                                {{taskDetails.createdTime | date: 'dd/MM/yyyy'}}
                            </td>
                          </tr>
                          <tr>
                              <td>
                                  Updated By :
                              </td>
                              <td>
                                  {{taskDetails.updatedBy}}
                              </td>
                            </tr>
                            <tr>
                                <td>
                                    Updated Time :
                                </td>
                                <td>
                                    {{taskDetails.updatedTime | date: 'dd/MM/yyyy'}}
                                </td>
                              </tr>
                    </table>
                   
                  </mat-card-content>
                  <mat-card-actions>
                    <button style="margin-right:10px;" mat-flat-button color="accent" (click)="taskEdit(taskDetails)">Edit</button>
                    <button mat-flat-button color="warn" (click)="taskDelete(taskDetails)">Delete</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div  style="display:flex;flex:1 1 auto;flex-direction: column;">
                  <div class="flex-container">
                      <img *ngFor="let image of images" [src]="image.url" [alt]="image.name" (click)="openImage(image)">
                  </div>                
              </div>
      
            </div>
       


      </div> -->

      <div *ngIf="isTaskLoaded" id="taskDetails">

        <button mat-flat-button color="warn" (click)="hideTaskDetails()">Close</button>
        <div style="display:flex;">
            <div style="display:flex;">
                <mat-card class="example-card">
                    <mat-card-header color="primary">
                        <mat-card-title>Task Details</mat-card-title>
                        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                    </mat-card-header>
                    <mat-card-content>
      
                        <table>
                            <tr>
                                <td>
                                    Activity :
                                </td>
                                <td>
                                    {{taskDetails.activityLabel}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Task Name :
                                </td>
                                <td>
                                    {{taskDetails.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Description :
                                </td>
                                <td>
                                    {{taskDetails.description}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Location :
                                </td>
                                <td>
                                    {{taskDetails.location}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Duration :
                                </td>
                                <td>
                                    {{taskDetails.duration}} Hours
                                </td>
                            </tr>
                            <tr *ngIf="isApprover">
                                <td>
                                    Approver :
                                </td>
                                <td>
                                    {{taskDetails.approver_info.name}}
                                </td>
                            </tr>
                            <tr *ngIf="isVolunteer">
                                <td>
                                    Volunteers :
                                </td>
                                <td>
                                    <span *ngFor="let vol of taskDetails.vols_info">{{vol.name}}, </span>
      
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Created By :
                                </td>
                                <td>
                                    {{taskDetails.created_by}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Created Time :
                                </td>
                                <td>
                                    {{taskDetails.created_on | date: 'dd-MMM-yyyy HH:mm:ss'}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Updated By :
                                </td>
                                <td>
                                    {{taskDetails.updated_by}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Updated Time :
                                </td>
                                <td>
                                    {{taskDetails.updated_on | date: 'dd-MMM-yyyy HH:mm:ss'}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total Hours Spent :
                                </td>
                                <td>
                                    {{ taskDetails.totalTimeSpent }}
                                </td>
                            </tr>
                        </table>
      
      
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-flat-button color="accent" style="margin-left:2px;"
                            (click)="showComments()">Comments</button>
                        
                        
                    </mat-card-actions>
                </mat-card>
      
            </div>
      
            <div style="display:flex;flex:1 1 auto;flex-direction: column;">
                <div class="flex-container">
                    <img *ngFor="let image of imagesNew" [src]="image.url" [alt]="image.name" (click)="openImage(image)">
                </div>
            </div>
      
        </div>
      
      
      
      </div>

    <div style="margin-left:50%;" [hidden]="!isSpinnerEnabled">
      <mat-spinner></mat-spinner>
    </div>

  </div>