#project {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 5%;
  }
  
  #project td, #project th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #project tr:nth-child(even){background-color: #f2f2f2;}
  
  #project tr:hover {background-color: #ddd;}
  
  #project th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(37, 39, 37);
    color: white;
  }

  #projectDetails {
    border: 1px solid gray;
    margin: 1%;
    margin-bottom: 2%;
    width: calc(100% -20px);
    background-color: white !important;
  }

  #taskDetails
  {
    border: 1px solid gray;
    margin: 1%;
    margin-bottom: 2%;
    width: calc(100% -20px);
    background-color: white !important;
  }
  .row
  {
    width: 100%;
    margin-right: 0px;
  }
  
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
  }
  
  p {
    
    text-align: left;
    letter-spacing: 3px;
    font-size: 200%;
    
  }

  .para
  {
    text-align: left;
    letter-spacing: 3px;
    font-size: 200%;
    margin-top: 5%;
  }

  .button {
    background-color: #5cb85c;
    border: none;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px;
  }

  table {
    width: 100%;
}

#projectTable
{
  margin-top: 0%;
  position: relative;
  max-height: 400px;
  overflow: auto;
  // width: 100%;
  // overflow-y: scroll;
  // display: block;
}

.mat-elevation-z8-container
{
  // position: relative;
  // max-height: 400px;
  // overflow: auto;
}


#taskTable
{
  max-height: 300px;
}

th.mat-sort-header-sorted {
    color: black;
}

#task {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 5%;
  margin-bottom:2%;
  font-size: 150%;
}

#task td, #task th {
  border: 1px solid #ddd;
  padding: 8px;
}

#task tr:nth-child(even){background-color: #f2f2f2;}

#task tr:hover {background-color: #ddd;}

#task th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}



/* Structure */
.container {
  display: flex;
  flex-direction: column;
}

/* Toolbar */
.spacer {
  flex: 1 1 auto;
}

/* Filter */
.form {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

/* Mat table */
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
  flex: 0 0 6%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2){
  flex: 0 0 30%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3){
  flex: 0 0 6%;
}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7){
  flex: 0 0 7%;
}

.mat-card-header{
  background-color: lightgrey;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px;
  height:150px; /* Set a small width */

}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}