<div fxLayout fxLayoutAlign="center center" style="margin-top:2%;">
  <mat-form-field fxFlex="40%" style="height: 100px;">
    <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div [hidden]="!isLoaded">
  <table mat-table [dataSource]="taskSource" matSort class="mat-elevation-z8" id="taskTable">
    <ng-container matColumnDef="activity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity </th>
      <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showActivityDetails(element1)"> {{element1.activityLabel}} </td>
    </ng-container>

    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Task </th>
      <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showActivityDetails(element1)"> {{element1.name}} </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
      <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showActivityDetails(element1)"> {{element1.startDate | date: 'dd/MM/yyyy'}}
        - {{element1.endDate | date: 'dd/MM/yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="approver">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Approver </th>
       <td mat-cell *matCellDef="let element1" style="cursor:pointer;"  (click)="showActivityDetails(element1)"> {{element1.approver}} </td>
    </ng-container>

    




    <tr mat-header-row *matHeaderRowDef="displayedTasks"></tr>
    <tr mat-row *matRowDef="let row1; columns: displayedTasks;"></tr>
  </table>
  <div>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </div>
</div>  


<div [hidden]="!isLoaded1">
<table mat-table [dataSource]="activitySource" matSort class="mat-elevation-z8" id="activityTable">
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> UserId  </th>
    <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showActivityDetails(element1)"> {{element1.userId}} </td>
  </ng-container>

  <ng-container matColumnDef="activity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity </th>
    <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showActivityDetails(element1)"> {{element1.activity}} </td>
  </ng-container>

  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Comments </th>
    <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showActivityDetails(element1)"> {{element1.comments}} </td>
  </ng-container>

  <ng-container matColumnDef="uploads">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Uploads </th>
    <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showActivityDetails(element1)"> {{element1.uploads}} </td>
  </ng-container>


  <ng-container matColumnDef="timeEntered">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> timeEntered </th>
    <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showActivityDetails(element1)"> {{element1.timeEntered}} </td>
  </ng-container>
  <ng-container matColumnDef="updatedOn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> updatedOn </th>
    <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showActivityDetails(element1)"> {{element1.updatedOn  | date: 'dd/MM/yyyy'}}
      </td>
  </ng-container>


  
 


  <tr mat-header-row *matHeaderRowDef="displayedActivity"></tr>
  <tr mat-row *matRowDef="let row1; columns: displayedActivity;"></tr>
</table>
<div>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>
</div>
