<div class="container">
  <h3 mat-dialog-title>Project: {{data.name}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Area" [(ngModel)]="data.areaOfEngagement" name="area"  required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Corporate" [(ngModel)]="data.corporate" name="corpEntity" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Budget" [(ngModel)]="data.budget" name="budget" maxlength="10"  required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Status" [(ngModel)]="data.status" name="status" disabled>
        </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Start Date" [(ngModel)]="data.startDate"  name="startDate">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="End Date" [(ngModel)]="data.endDate" name="endDate">
      </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Location" [(ngModel)]="data.location" name="location" >
        </mat-form-field>
      </div>

      <div ngModelGroup="stakeHolder">
        <div class="form">
          <mat-form-field color="accent">
            <input matInput placeholder="StakeHolderName" [(ngModel)]="data.stakeHolder.name" name="name" >
          </mat-form-field>
        </div>
        
        <div class="form">
          <mat-form-field color="accent">
            <input matInput placeholder="StakeholderPhone" [(ngModel)]="data.stakeholder.phoneNo" name="phoneNo">
          </mat-form-field>
        </div>
  
        <div class="form">
          <mat-form-field color="accent">
            <input matInput placeholder="StakeHolderEmail" [(ngModel)]="data.stakeholder.email" name="email" required >
          </mat-form-field>
        </div>
      </div>
      <div ngModelGroup="pointOfContact">
        <div class="form">
          <mat-form-field color="accent">
            <input matInput placeholder="POCName" [(ngModel)]="data.pointOfContact.name" name="name" >
          </mat-form-field>
        </div>
        
        <div class="form">
          <mat-form-field color="accent">
            <input matInput placeholder="POCPhone" [(ngModel)]="data.pointOfContact.phoneNo" name="phoneNo" >
          </mat-form-field>
        </div>
  
        <div class="form">
          <mat-form-field color="accent">
            <input matInput placeholder="POCEmail" [(ngModel)]="data.pointOfContact.email" name="email" required>
          </mat-form-field>
        </div>
      </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
