<div class="container">


  <form class="mat-dialog-content" [formGroup]="addProjectForm" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Project Name" formControlName="name" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Area" formControlName="area" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Corporate" formControlName="corpEntity"
          required></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Budget" formControlName="budget" maxlength="10"
          required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!-- <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Status" formControlName="status" disabled>
      </mat-form-field>
    </div> -->

    <div class="form">
      <mat-form-field color="accent">
        <input type="date" matInput placeholder="Start Date" formControlName="startDate">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input type="date" matInput placeholder="End Date" formControlName="endDate">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Location" formControlName="location">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="StakeHolderName" formControlName="stakeholderName">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="StakeholderPhone" formControlName="stakeholderPhoneNo">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="StakeHolderEmail" formControlName="stakeholderEmail" required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="POCName" formControlName="POCName">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="POCPhone" formControlName="POCPhoneNo">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="POCEmail" formControlName="POCEmail" required>
      </mat-form-field>
    </div>


    <div mat-dialog-actions>
      <button mat-button [type]="submit" [mat-dialog-close]="1"
        (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>