<div class="container">
  <h3 mat-dialog-title>Project: {{data.name}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="CSR Area(Environment/Health/Education/Public Welfare)" [(ngModel)]="data.areaOfEngagement" name="area" [disabled]="data.status!='Created'" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Corporate" [(ngModel)]="data.corporate" name="corpEntity" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Budget" [(ngModel)]="data.budget" name="budget" maxlength="10" [disabled]="data.status!='Created'" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Status" [(ngModel)]="data.status" name="status" disabled>
        </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input type="date" matInput placeholder="Start Date" [ngModel]="data.startDate | date: 'yyyy-MM-dd'" [value]="data.startDate | date: 'yyyy-MM-dd'" [disabled]="data.status!='Created'" name="startDate" datepicker>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input type="date" matInput placeholder="End Date" [ngModel]="data.endDate | date: 'yyyy-MM-dd'" [disabled]="data.status!='Created'" name="endDate">
      </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Location" [(ngModel)]="data.location" name="location" [disabled]="data.status!='Created'">
        </mat-form-field>
      </div>

      <div class="form" *ngIf = "checkStakeholder()">
        <mat-form-field color="accent">
          <input matInput placeholder="Stakeholder Name" [(ngModel)]="data.stakeholderList[0].name" name="stakeholdersName" disabled>
        </mat-form-field>
      </div>

      <div class="form" *ngIf = "checkStakeholder()">
        <mat-form-field color="accent">
          <input matInput placeholder="Stakeholder Email" [(ngModel)]="data.stakeholderList[0].email" name="stakeholdersEmail" disabled>
        </mat-form-field>
      </div>

      <div class="form" *ngIf = "checkStakeholder()">
        <mat-form-field color="accent">
          <input matInput placeholder="Stakeholder PhoneNo" [(ngModel)]="data.stakeholderList[0].phoneNo" name="stakeholdersPhoneNo" disabled>
        </mat-form-field>
      </div>

      <div class="form" *ngIf = "checkPOC()">
        <mat-form-field color="accent">
          <input matInput placeholder="POC Name" [(ngModel)]="data.pointOfContactUserList[0].name" name="POCName" disabled>
        </mat-form-field>
      </div>

      <div class="form" *ngIf = "checkPOC()">
        <mat-form-field color="accent">
          <input matInput placeholder="POC Email" [(ngModel)]="data.pointOfContactUserList[0].email" name="POCEmail" disabled>
        </mat-form-field>
      </div>

      <div class="form" *ngIf = "checkPOC()">
        <mat-form-field color="accent">
          <input matInput placeholder="POC PhoneNo" [(ngModel)]="data.pointOfContactUserList[0].phoneNo" name="POCPhoneNo" disabled>
        </mat-form-field>
      </div>

      

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
