<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--
<button type="button" [routerLink]="'add'">Add Project</button>



<button type="button" class="button" [routerLink]="'project'">Project-List</button>
-->

<app-header *ngIf="role==='Admin'"></app-header>
<app-volunteer-header *ngIf="role==='Volunteer'"></app-volunteer-header>
<app-stakeholders-header *ngIf="role==='Stakeholder'"></app-stakeholders-header>
<router-outlet></router-outlet>