<div>
    <div>A stakeholder is any person or group of people that can
        affect or is affected by your activities. Examples of stakeholders include people
        who participate in projects, employees, customers, suppliers, members of the local
        community, public sector agencies and funders or investors.

    </div>
    <p></p>

    <div>
        Download the questionnaire and prioritize the stakeholders for the project and analyse their goals/outcomes
        <a href="../../../assets/Questionnaire 2.docx">
            <button mat-raised-button color="accent">
                    <mat-icon>cloud_download</mat-icon>                    
                </button>
        </a>
    </div>
    <p></p>

    <div>
        Key stakeholders are those who
        are either most affected by the impact or whose influence can most directly affect
        the outcome of an area of work.
    </div>
    <p></p>

    <div class="container mat-elevation-z8">
        <div class="form">
            <mat-form-field floatPlaceholder="never" color="accent">
                <input matInput #filter placeholder="Filter issues">
            </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

            <ng-container matColumnDef="stackholder">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Stackholder</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.stackholder}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="goalsOrOutcome">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Goals/Outcome</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.goalsOrOutcome}}</mat-cell>
            </ng-container>


            <!-- actions -->
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                    <button mat-icon-button color="primary" (click)="addNew()">
                        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                    </button>
                </mat-header-cell>

                <mat-cell *matCellDef="let row; let i=index;">
                    <button mat-icon-button color="accent"
                        (click)="startEdit(i, row.id, row.stackholder, row.goalsOrOutcome)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>

                    <button mat-icon-button color="accent"
                        (click)="deleteItem(i, row.id, row.stackholder, row.goalsOrOutcome)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
    </div>

    <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
        No results
    </div>

    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

    <div class="example-button-row">
        <button mat-flat-button matStepperPrevious color="accent">
                <mat-icon>navigate_before</mat-icon>Back</button>

        <button mat-flat-button color="accent" (click)="Save">
                <mat-icon>save</mat-icon>
                Save</button>

        <button mat-flat-button matStepperNext color="accent">Next
                <mat-icon>navigate_next</mat-icon>
        </button>
    </div>
</div>