<div class="container">
    <h3 mat-dialog-title>Task: {{data.name}}</h3>


    <div class="mat-dialog-content">

        <div>

            <table id="comments">
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Comments</th>
                    <th>Time Entered</th>
                    <th>Status</th>
                </tr>
                <tr *ngFor="let vol of data.activity_info">
                    <td>{{vol.userName}}</td>
                    <td>{{vol.role}}</td>
                    <td>{{vol.comments}}</td>
                    <td>{{vol.timeEntered}}</td>
                    <td>{{vol.status}}</td>
                </tr>
            </table>
        </div>

    </div>


    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
</div>