<div style="margin: 5px;">
    <div fxLayout fxLayoutAlign="center center" style="margin-top:2%;">
      <mat-form-field fxFlex="40%" style="height: 100px;">
        <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    
    <div class="mat-elevation-z8-container">
      <div [hidden]="!isLoaded">
        <table mat-table [dataSource]="taskSource" matSort class="mat-elevation-z8" id="taskTable">
          <ng-container matColumnDef="activity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity </th>
            <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showTaskDetails(element1)">
              {{element1.activityLabel}} </td>
          </ng-container>
      
          <ng-container matColumnDef="task">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Task </th>
            <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showTaskDetails(element1)">
              {{element1.name}} </td>
          </ng-container>
      
          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
            <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showTaskDetails(element1)">
              {{element1.startDate | date: 'dd/MM/yyyy'}}
              - {{element1.endDate | date: 'dd/MM/yyyy'}}</td>
          </ng-container>
      
          <ng-container matColumnDef="approver">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Approver </th>
            <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showTaskDetails(element1)">
              {{element1.approver}} </td>
          </ng-container>
  
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
            <td mat-cell *matCellDef="let element1" (click)="showTaskDetails(element1)" style="cursor:pointer;">
              <!-- {{element1.status}} -->
              Dummy Status
            </td>
          </ng-container>
      
      
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
              
            </mat-header-cell>
    
            <mat-cell *matCellDef="let element;">
                 
              <button mat-flat-button color="accent"
                (click)="editTask(element)" style="margin-right:10px;">
                Edit
              </button>
            </mat-cell>
          </ng-container>
      
      
      
          <tr mat-header-row *matHeaderRowDef="displayedTasks"></tr>
          <tr mat-row *matRowDef="let row1; columns: displayedTasks;"></tr>
        </table>
        <div style="padding-top: 8px;">
          <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
    
    
    <div *ngIf="isTaskLoaded" id="taskDetails">
      <button mat-flat-button color="warn" (click)="hideTaskDetails()">Close</button>
      <div style="display:flex;">
        <div style="display:flex;">
          <mat-card class="example-card">
            <mat-card-header color="primary">
              <mat-card-title>Task Details</mat-card-title>
              <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
    
              <table>
                <tr>
                  <td>
                    Activity :
                  </td>
                  <td>
                    {{taskDetails.activityLabel}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Task Name :
                  </td>
                  <td>
                    {{taskDetails.name}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Description :
                  </td>
                  <td>
                    {{taskDetails.description}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Location :
                  </td>
                  <td>
                    {{taskDetails.location}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Duration :
                  </td>
                  <td>
                    {{taskDetails.startDate | date: 'dd/MM/yyyy'}} - {{taskDetails.endDate | date: 'dd/MM/yyyy'}}
                  </td>
                </tr>
                <tr>
                  <td *ngIf="isApprover">
                    Approver :
                  </td>
                  <td *ngIf="isApprover">
                    {{taskDetails.approver.name}}
                  </td>
                </tr>
                <tr>
                  <td *ngIf="isVolunteer">
                    Volunteers :
                  </td>
                  <td *ngIf="isVolunteer">
                    {{taskDetails.volunteer}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Created By :
                  </td>
                  <td>
                    {{taskDetails.createdBy}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Created Time :
                  </td>
                  <td>
                    {{taskDetails.createdTime | date: 'dd/MM/yyyy'}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Updated By :
                  </td>
                  <td>
                    {{taskDetails.updatedBy}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Updated Time :
                  </td>
                  <td>
                    {{taskDetails.updatedTime | date: 'dd/MM/yyyy'}}
                  </td>
                </tr>
                <tr>
                    <td>
                     Approver Comments :
                    </td>
                    <td>
                      {{ approverComment.comment }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                     Volunteer Comments :
                    </td>
                    <td>
                      {{ volunteerComments.comment }}
                    </td>
                  </tr>
              </table>
    
            </mat-card-content>
            <mat-card-actions>
                <input mat-flat-button color="accent" #fileUpload type="file" (change)="onFileSelected($event)">
                <!-- <button mat-flat-button color="warn" (click)="fileUpload">Pick File</button> -->
              <button mat-flat-button color="warn" (click)="onUpload()">Upload</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div style="display:flex;flex:1 1 auto;flex-direction: column;">
          <div class="flex-container">
            <img *ngFor="let image of images" [src]="image.url" [alt]="image.name" (click)="openImage(image)">
          </div>
        </div>
    
      </div>
    
    
    
    </div>
    
    
  </div>
  