<div fxLayout fxLayoutAlign="center center" style="margin-top:2%;">
    <mat-form-field fxFlex="40%" style="height: 100px;">
        <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>

<div [hidden]="!isLoaded">
    <table mat-table [dataSource]="taskSource" matSort class="mat-elevation-z8" id="taskTable">
        <ng-container matColumnDef="activity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity </th>
            <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showTaskDetails(element1)">
                {{element1.activityLabel}} </td>
        </ng-container>

        <ng-container matColumnDef="area">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Area </th>
            <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showTaskDetails(element1)">
                AreaOfInterest </td>
        </ng-container>

        <ng-container matColumnDef="task">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Task </th>
            <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showTaskDetails(element1)">
                {{element1.name}} </td>
        </ng-container>

        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
            <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showTaskDetails(element1)">
                {{element1.startDate | date: 'dd/MM/yyyy'}}
                - {{element1.endDate | date: 'dd/MM/yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="approver">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Approver </th>
            <td mat-cell *matCellDef="let element1" style="cursor:pointer;"> {{element1.approver.name}} </td>
        </ng-container>

        <ng-container matColumnDef="approver_comments">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Approver Comments </th>
            <td mat-cell *matCellDef="let element1" style="cursor:pointer;"> Approver Comments </td>
        </ng-container>

        <ng-container matColumnDef="volunteer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Volunteer </th>
            <td mat-cell *matCellDef="let element1" style="cursor:pointer;"> Volunteer In </td>
        </ng-container>

        <ng-container matColumnDef="volunteer_comments">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Volunteer Comments </th>
            <td mat-cell *matCellDef="let element1" style="cursor:pointer;"> Volunteer Comments </td>
        </ng-container>

        <ng-container matColumnDef="uploads">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Uploads </th>
            <td mat-cell *matCellDef="let element1" style="cursor:pointer;"> Uploads In </td>
        </ng-container>

        <ng-container matColumnDef="time_estimated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Time Estimated </th>
            <td mat-cell *matCellDef="let element1" style="cursor:pointer;"> Time Estimated In </td>
        </ng-container>

        <ng-container matColumnDef="audit_timestamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Audit Timestamp </th>
            <td mat-cell *matCellDef="let element1" style="cursor:pointer;"> Audit In </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element1" style="cursor:pointer;"> Status In </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <button mat-icon-button matTooltip="Edit all" style="background: white;border:none;">
                    <mat-icon>edit_all</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let element1" (click)="editTask(element1)"
                style="color:cornflowerblue; cursor:pointer;">
                <button mat-icon-button matTooltip="Edit this score" style="background: white;border:none;">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>








        <tr mat-header-row *matHeaderRowDef="displayedTasks"></tr>
        <tr mat-row *matRowDef="let row1; columns: displayedTasks;"></tr>
    </table>
    <div>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
</div>



<div class="container-fluid">
    <div class="row" *ngIf="isTaskLoaded" id="taskDetails">
        <div class="col-lg-12">
            <h1>{{projectDetails.name}}</h1>

        </div>
        <div class="col-lg-6">
            <div class="para">
                Area : {{projectDetails.areaOfEngagement}} <br>
                Budget : {{projectDetails.budget}} <br>
                Project Name: {{projectDetails.name}} <br>
                Corporate Entity : {{projectDetails.associatedCorporateEntity}} <br>
                Duration : {{projectDetails.startDate | date: 'dd/MM/yyyy'}} -
                {{projectDetails.endDate | date: 'dd/MM/yyyy'}}
                <br>
                Location : {{projectDetails.location}} <br>
                Point Of Contacts : <p *ngFor="let poc of pointOfContacts" style="font-size: 100%;">
                    {{poc.name}}</p> <br>
                Stakeholders :<p *ngFor="let sh of stakeholders" style="font-size: 100%;">{{sh.name}}</p>
                <br>
            </div>
            <div *ngIf="!isSummary" class="para">
                Summary : {{summary | slice:0:20}}<a (click)="showSummary()">...</a> <br>
            </div>
            <div *ngIf="isSummary" class="para">
                Summary : {{summary}} <br>
            </div>




            <!-- <p *ngIf="isTempTask">
                      {{tempTask.area}}
                    </p> -->




        </div>

    </div>
    <div class="row" *ngIf="isTaskLoaded" id="taskDetails">

        <div class="col-lg-6" *ngIf="isImage" style="width: 100%;">
            <img src={{image}} (click)="hideImage()">
        </div>

        <div class="col-lg-6" [hidden]="isImage">

            <div class="para">
                Activity : {{taskDetails.activityLabel}} <br>
                Description : {{taskDetails.description}} <br>
                Task Name: {{taskDetails.name}} <br>
                Duration : {{taskDetails.startDate | date: 'dd/MM/yyyy'}} - {{taskDetails.endDate | date: 'dd/MM/yyyy'}}
                <br>
                Location : {{taskDetails.location}} <br>
                Approver : {{taskDetails.approver.name}} <br>
                Volunteers : <p *ngFor="let v of volunteer" style="font-size: 100%;">{{v.name}}</p> <br>
                Created By : {{taskDetails.createdBy}} <br>
                Created Time : {{taskDetails.createdTime | date: 'dd/MM/yyyy'}} <br>
                Updated By : {{taskDetails.updatedBy}} <br>
                Updated Time : {{taskDetails.updatedTime | date: 'dd/MM/yyyy'}} <br>
            </div>





            <!-- <p *ngIf="isTempTask">
                        {{tempTask.area}}
                      </p> -->

            <div class="row" style="margin-top:1%;">

                <div class="class-lg-12">
                    <div class="col-lg-6">
                        <input type="file" (change)="onFileSelected($event)">
                    </div>
                    <div class="col-lg-6">
                        <button (click)="onUpload()" class="button">Upload</button>
                    </div>


                </div>
            </div>
            <div class="row" style="margin-top:1%;">

                <div class="class-lg-6">
                    <button mat-icon-button matTooltip="Remove this score" [routerLink]="'edit'"
                        style="background: white;border:none;">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <!-- <button type="button" class="button" [routerLink]="'edit'">Edit</button><br> -->

                </div>

                <div class="class-lg-6">
                    <button mat-icon-button matTooltip="Remove this score" (click)="hideTaskDetails()"
                        style="background: white;border:none;">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <!-- <button type="button" class="button" (click)="hideTaskDetails()">Close</button><br> -->

                </div>
            </div>
        </div>
        <div class="col-lg-6" style="margin-top: 3%;">

            <div class="col-lg-12">

                <div class="col-lg-4" style="height: 30px;">
                    <img src="./../../../assets/angularLogo.svg" height="40px;" width="40px;" (click)="showImage()">
                </div>

                <div class="col-lg-4">
                    <img src="./../../../assets/angularLogo.svg" height="40px;" width="40px;" (click)="showImage()">
                </div>

                <div class="col-lg-4">
                    <img src="./../../../assets/angularLogo.svg" height="40px;" width="40px;" (click)="showImage()">
                </div>


            </div>
        </div>


    </div>
</div>