<div style="margin: 5px;" *ngIf="isLoaded">
    <!-- <div fxLayout fxLayoutAlign="center center" style="margin-top:2%;">
        <mat-form-field fxFlex="40%" style="height: 100px;">
            <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div> -->
    <div fxLayout fxLayoutAlign="center center">
    <mat-form-field fxFlex="100%" style="margin:10px;">
        <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <div class="mat-elevation-z8-container">
            <button mat-flat-button color="primary" style="margin-left:2px;margin-bottom: 10px;"
            (click)="refreshData()">Refresh</button>
        <div [hidden]="!isLoaded">
            <table mat-table [dataSource]="taskSource" matSort class="mat-elevation-z8" id="taskTable">
                <ng-container matColumnDef="project">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Project </th>
                    <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showTaskDetails(element1)">
                        {{element1.project_info.name}} </td>
                </ng-container>
                <ng-container matColumnDef="activity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity </th>
                    <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showTaskDetails(element1)">
                        {{element1.activityLabel}} </td>
                </ng-container>

                <ng-container matColumnDef="task">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Task </th>
                    <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showTaskDetails(element1)">
                        {{element1.name}} </td>
                </ng-container>

                <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration(Hours) </th>
                    <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showTaskDetails(element1)">
                        {{element1.duration}}
                </ng-container>

                <ng-container matColumnDef="approver">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Approver </th>
                    <td mat-cell *matCellDef="let element1" style="cursor:pointer;" (click)="showTaskDetails(element1)">
                        {{element1.approver_info.name}} </td>
                        
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
                    <td mat-cell *matCellDef="let element1" (click)="showTaskDetails(element1)" style="cursor:pointer;">
                        {{element1.status}}
                    </td>
                </ng-container>


                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>

                    </mat-header-cell>

                    <mat-cell *matCellDef="let element1">

                        <button mat-flat-button color="accent" (click)="editTask(element1)" style="margin-right:10px;" *ngIf = "showEdit(element1)">
                            Edit
                        </button>
                    </mat-cell>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedTasks"></tr>
                <tr mat-row *matRowDef="let row1; columns: displayedTasks;"></tr>
            </table>
            <div style="padding-top: 8px;">
                <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>


    <div *ngIf="isTaskLoaded" id="taskDetails">

        <button mat-flat-button color="warn" (click)="hideTaskDetails()">Close</button>
        <div style="display:flex;">
            <div style="display:flex;">
                <mat-card class="example-card">
                    <mat-card-header color="primary">
                        <mat-card-title>Task Details</mat-card-title>
                        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                    </mat-card-header>
                    <mat-card-content>

                        <table>
                            <tr>
                                <td>
                                    Activity :
                                </td>
                                <td>
                                    {{taskDetails.activityLabel}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Task Name :
                                </td>
                                <td>
                                    {{taskDetails.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Description :
                                </td>
                                <td>
                                    {{taskDetails.description}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Location :
                                </td>
                                <td>
                                    {{taskDetails.location}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Duration :
                                </td>
                                <td>
                                    {{taskDetails.duration}} Hours
                                </td>
                            </tr>
                            <tr *ngIf="isApprover">
                                <td>
                                    Approver :
                                </td>
                                <td>
                                    {{taskDetails.approver_info.name}}
                                </td>
                            </tr>
                            <tr *ngIf="isVolunteer">
                                <td>
                                    Volunteers :
                                </td>
                                <td>
                                    <span *ngFor="let vol of taskDetails.vols_info">{{vol.name}}, </span>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Created By :
                                </td>
                                <td>
                                    {{taskDetails.created_by}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Created Time :
                                </td>
                                <td>
                                    {{taskDetails.created_on | date: 'dd-MMM-yyyy HH:mm:ss'}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Updated By :
                                </td>
                                <td>
                                    {{taskDetails.updated_by}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Updated Time :
                                </td>
                                <td>
                                    {{taskDetails.updated_on | date: 'dd-MMM-yyyy HH:mm:ss'}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total Hours Spent :
                                </td>
                                <td>
                                    {{ taskDetails.totalTimeSpent }}
                                </td>
                            </tr>
                        </table>


                    </mat-card-content>
                    <!-- [disabled] = "isApproved(taskDetails)"-->
                    <mat-card-actions>
                        <button mat-flat-button color="accent" style="margin-left:2px;"
                            (click)="showComments()">Comments</button>
                        <button mat-raised-button color="accent" (click)="onClick($event)">
                            <mat-icon>add</mat-icon>
                            Upload
                        </button>
                        <input #fileUpload type="file" class="input_fileupload--hidden" (input)="onInput($event)"
                            (change)="onFileSelected($event)" [(ngModel)]="inputFileName" [accept]="accept">

                        <!-- <div *ngFor="let f of files">
                            <span>{{f.name}}</span>
                            <button mat-icon-button color="primary"
                                [attr.title]="deleteButtonLabel?deleteButtonLabel:null" (click)="removeFile(event,f)">
                                <mat-icon>{{deleteButtonIcon}}</mat-icon>
                            </button>
                        </div> -->
                        <!-- <vo-mat-fileUpload></vo-mat-fileUpload> -->
                        <!-- <input mat-flat-button color="accent" #fileUpload type="file" (change)="onFileSelected($event)"> -->
                        <!-- <button mat-flat-button color="warn" (click)="fileUpload">Pick File</button> -->
                        
                        <!-- <button mat-flat-button color="warn" style="margin-left:5px;"
                            (click)="onUpload()">Upload</button> -->
                    </mat-card-actions>
                </mat-card>

            </div>

            <div style="display:flex;flex:1 1 auto;flex-direction: column;">
                <div class="flex-container">
                    <span style="font-size: 20px;">Task Related Images</span><br>
                    <img *ngFor="let image of imagesNew" [src]="image.url" [alt]="image.name" (click)="openImage(image)">
                </div>
                <div class="flex-container">
                    <span style="font-size: 20px;">Task Related Files</span><br>
                    <img *ngFor="let image of excelFiles" src="./../../../assets/ExcelLogo.png" [alt]="image.name" (click)="downloadFile(image)">
                </div>
            </div>

        </div>



    </div>


</div>

<div style="margin: 50px;" *ngIf="!isLoaded">
    No Data available
</div>