
<div class="container">
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4" id="form1">
            <h3>Login</h3>
                <form [formGroup]="loginForm" id="login_form">
                    <input type="text" id="user_name" class="field" placeholder="Enter Username" name="username" style="width: 100%;">
                    <input type="password" id="pass_word" class="field" placeholder="Enter Password" name="password" style="width: 100%">
                    <input type="submit" id="submit_button" class="btn" value="Submit" name="submit" style="width: 100%">
                </form>

        </div>
        <div class="col-lg-4">

        </div>

    </div>
</div>
