<!-- <footer class="footer">
  <div class="container">
  <div class="content has-text-centered">
    <p>
      By <a href="https://google.com">Google</a>
    </p>
  </div>
  </div> -->
  <mat-toolbar color="primary">
    <div fxfill fxLayout="row" fxLayoutAlign="space-between stretch" style="width:100%">
      <div class='spacer'>By SROI Collaborators</div>
      <div class='spacer'>© Copyright Angular Apps 2019.</div>
    </div>
    <!-- <div fxLayout="row" fxLayoutAlign="end">
      <span fxFlex="20%"  class='spacer'>© Copyright Angular Apps 2019.</span>
    </div> -->
  </mat-toolbar>
  <!-- <div fxLayout="row" fxLayoutAlign="space-evenly center"></div> -->

  <!-- <mat-toolbar color='primary'>
    <span class='spacer'>By SROI Collaborators</span>
    <span class='spacer'>© Copyright Angular Apps 2019.</span>
  </mat-toolbar> -->